{% extends 'base.html' %}

{% block content %}
<h3>查询账务信息</h3>
<p></p>
<form method=post>

<div class="row  ">

        <div class="input-daterange input-group col-md-10" id="datepicker">开始账期：
        <input type="text" class="input-sm form-control" name="start" />
        <span class="input-group-addon">结算账期：</span>
        <input type="text" class="input-sm form-control" name="end" />
    </div>

    <div class="col-md-2">      <input type=submit value=查询></div>
<script type="text/javascript">

    $('.input-daterange').datepicker({
            language: "zh-CN",
            autoclose: true,//选中之后自动隐藏日期选择框
            clearBtn: true,//清除按钮
            todayBtn: true,//今日按钮
            format: "yyyy-mm-dd"
    });
</script>
    </div>




</form>
{% block content_result %}{% endblock %}
{% endblock %}
